#listing-details-container {
  width: 60%;
  min-width: 300px;
  background: white;
  overflow: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

#cloud-container div {
  width: 500px;
  margin: auto;
}

/* #listing-details-content div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
} */

svg {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* 
almost-black: #151b26
green: #6BBAA7
yellow: #FBA100
purple/gray: #6C6488
lighter gray: BlA19E
*/
g > text {
  /* display: block; */
  /* position: absolute; */
  transition: all .15s ease-in-out;
}

g > text:nth-child(5n) {
    font-weight: 100;
    fill: darkgrey !important;
}

g > text:nth-child(5n+1) {
    font-weight: 100;
    fill: #6BBAA7 !important;
}

g > text:nth-child(5n+2) {
    font-weight: 100;
    fill: #6C6488 !important;
}

g > text:nth-child(5n+3) {
    font-weight: 100;
    fill: #FBA100 !important;
}

g > text:nth-child(5n+4) {
    font-weight: 100;
    fill: #151b26 !important;
}

g > text:hover {
  /* position: relative; */
  /* transform: scale(1.1); */
  -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 0 0px 0.5em #00CEE3;
}

#listing-details-pane-home {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color: gray;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#listing-details-pane {
  padding: 20px 20px 20px 20px;
  display: block;
  width: 85%;
  /* animation: 1s ease-out 0s 1 slideInFromBottom; */
}

#details-cover-image {
  background: linear-gradient(to right, seagreen, purple);
  height: 40px;
}

#listing-details-logo-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgray;
}

#listing-details-logo {
  max-height: 150px;
  width: auto;
  object-fit: contain;
  flex: 1;
  overflow: hidden;
}

p, li {
  text-align: justify;
}

#listing-details-content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid darkgray;
}


.details-job-company {
  margin-top: 5px;
}

#details-job-title {
  margin: -.35em 0;
  text-align: center;
}

#listing-details-type-location {
  color: darkgray;
  display: flex;
}

#listing-details-content-header a, 
#listing-details-content-header a:visited {
  color: darkgray;
  text-decoration: none;
}

#listing-details-content-header a:hover {
  text-decoration: underline;
  color: gray;
}

#listing-details-content {
  justify-content: center;
  padding-bottom: 50px;
}

#listing-details-pane-analysis {
  width: 100%;
  padding: 20px;
}

#details-analysis-toggle {
  display: flex;
  justify-content: flex-end;
}

#details-analysis-toggle span:hover {
  cursor: pointer;
  color: darkgray;
}

#details-analysis-toggle span {
  text-decoration: underline;
  color: gray;
  font-size: .9em;
}