#listing-details-container {
  width: 60%;
  min-width: 300px;
  background: white;
  overflow: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

#listing-details-pane-home {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  color: gray;
}

#listing-details-pane {
  padding: 20px 20px 20px 20px;
  display: block;
  width: 85%;
}

#details-cover-image {
  background: linear-gradient(to right, seagreen, purple);
  height: 40px;
}

#listing-details-logo-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgray;
}

#listing-details-logo {
  max-height: 150px;
  width: auto;
  object-fit: contain;
  flex: 1;
  overflow: hidden;
}

p, li {
  text-align: justify;
}

#listing-details-content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid darkgray;
}


.details-job-company {
  margin-top: 5px;
}

#details-job-title {
  margin: -.35em 0;
  text-align: center;
}

#listing-details-type-location {
  color: darkgray;
  display: flex;
}

#listing-details-content-header a, 
#listing-details-content-header a:visited {
  color: darkgray;
  text-decoration: none;
}

#listing-details-content-header a:hover {
  text-decoration: underline;
  color: gray;
}

#listing-details-content {
  padding-bottom: 50px;
}

#listing-details-pane-analysis {
  width: 100%;
  padding: 20px;
}

#details-analysis-toggle {
  display: flex;
  justify-content: flex-end;
}

#details-analysis-toggle span:hover {
  cursor: pointer;
  color: darkgray;
}

#details-analysis-toggle span {
  text-decoration: underline;
  color: gray;
  font-size: .9em;
}