#main-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #E4E3E5;
}

#main-container {
  height: 90%;
  margin: 65px 50px 25px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stretch-container { 
  height: 100%;
  display: flex;

}

.jss155, .jss63 {
  color: white;
}