#top-bar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgrey;
  background: #6BBAA7;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}


#top-bar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#top-bar-right div {
  padding: 10px;
}

#top-bar-right div:hover {
  /* color: #6C6488; */
  color: whitesmoke;
}

#top-bar-left {
  display: flex;
  align-items: center;
}

#top-bar-logo {
  margin-left: 15px;
  font-feature-settings: "liga" 0;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 500px;
}

#top-bar-logo span {
  letter-spacing: 10px;
}

#top-bar-logo:hover {
  cursor: pointer;
}

#logo-monogram {
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 50%;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

/* Resume Upload Modal */
#top-bar-right div:hover {
  cursor: pointer;
}

#resume-upload-button:hover {
  cursor: pointer;
}

.resume-upload-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  background-color: #fff;
  height: 84%;
  max-height: 570px;
  width: 66%;
  max-width: 1080px;
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.resume-upload-modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #4B4D63;
  opacity: 0.5;
}

#top-bar-right:last-child {
  margin-right: 15px;
}