#splash-page-container {
  height: 100vh;
  color: white;
  background-image: url("../images/splash-image-1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash-page-content {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splash-page-content-item {
  margin-top: 15px;
  display: flex;
}

#splash-title {
  font-size: 48px;
}

#splash-subtitle {
  font-size: 24px;
}

#splash-try-button {
  margin: 25px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 120px;
  border-radius: 4px;
  background: #6BBAA7;
  border-color: #6BBAA7;
  color: white;
}

#splash-try-button:hover {
  cursor: pointer;
  background:#58A492;
}